@import './colors';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: $font-color;

    button{
        cursor: pointer;
        border: none;
    }
}

.app-container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    max-height: 575px;

    .logo-container{
        height: 30vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            max-width: 100%;
            height: auto;
        }
    }

    .card-container{
        overflow: hidden;
        height: 60vh;
        max-height: 325px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .button-container{
        margin: 0 auto;
        justify-self: flex-end;
        height: 20vh;
        max-height: 75px;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .app-button{
            width: 50%;
            height: 75%;
            max-height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
           &.button-left{
                border-top: 2px solid $font-color;
                background-color: $primary-blue;

            }
            &.button-right{
                background-color: $primary-yellow;
            }
        }
    }
}



/* @media only screen and (max-width: 600px) , (max-height: 700) {
    .App-Child-Div{
        margin-top: 15vh;
    }
    
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}


/* 474350
FFFFFF
92B4F4
FFA69E
DB5461 */

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@keyframes slideDown {
    0% {
        top: -1000px;
    }
    100% {
        top: 0;
    }
}

@keyframes slideUp {
    0% {
        top: 0;
    }
    100% {
        top: -1000px;
    }
}

@keyframes slideLeft{
    0%{
        left: 0;
        right: 0;
        margin: auto;
    }
    100%{
        left: -1000px
    }
}

@keyframes slideRight{
    0%{
        left: 0;
        right: 0;
        margin: auto;
    }
    100%{
        right: -1000px
    }
}

