@import './colors';

.pawPrints-container{
    animation-name: fade;
    animation-duration: 0.50s;
    animation-fill-mode: forwards;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(43, 45, 66, 0.644);
    border: $border-color solid 2px;
    border-radius: 5px;
    padding: 2px;

    .paw{
        padding: 2px;
    }

    .pawPrints-icons-primary{ 
        i{
            color: $primary-blue;
        }
    }
    
    .pawPrints-icons-primary-outline{
        i{
            color: rgba(128, 162, 212, 0.5);
        }
    }
    
    .pawPrints-icons-secondary{
        i{
            color: $primary-yellow;
        }
    }
    
    .pawPrints-icons-secondary-outline{
        i{
            color: rgba(255, 166, 0, 0.5);
        }
    }
}





@media screen and (min-width: 375px){

    

}
@media screen and (min-width: 480px){
    .pawPrints-container{
        height: 100%;
        width: 100%;
        border-radius: 5px;
        padding: 5px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .pawPrints-container{
        height: 100%;
        width: 50vw;
        max-width: 600px;
        .paw{
            i{
                font-size:3rem;
            }
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .pawPrints-container{
        .paw{
            i{
                font-size:4rem;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
 
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  
 }

 @media (min-width: 2000px) { 

 }




 // Mobile Devices
 @media(max-width: 813px) and (max-height: 415px){
    .pawPrints-container{
        height: 75%;
        min-height: 25px;
        width: 50vw;
        max-width: 200px;
        .paw{
            i{
                font-size:1.2rem;
            }
        }
    }
 }