
.PawPrints-Container{
    animation-name: fade;
    animation-duration: 0.50s;
    animation-fill-mode: forwards;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(43, 45, 66, 0.733);
    border: #3A506B solid 2px;
    border-radius: 5px;
    height: 7vh;
}

.PawPrints-Icons-Blue{
    color: #80A1D4;
}

.PawPrints-Icons-Blue-Outline{
    color: rgba(128, 162, 212, 0.5);
}

.PawPrints-Icons-Red{
    color: #FFA500;
    
}

.PawPrints-Icons-Red-Outline{
    color: rgba(255, 166, 0, 0.5);
}


/* @media only screen and (max-width: 600px) , (max-height: 750) {

    .PawPrints-Container{
        width: 100%;
        margin-top: 30vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(43, 45, 66, 0.822);
        border: #3A506B solid 2px;
        border-radius: 5px;
        height: 7vh;
    }

} */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}