.RoundMarker-Container{
    animation: slideRightRound;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    background-color: pink;
    width: 50%;
    height: auto;
    position: absolute;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}


@keyframes slideRightRound{
    0%{
        left: -1000px
    }
    40%{
        left: 0;
        right: 0;
        margin: auto;
    }
    50%{
        left: 0;
        right: 0;
        margin: auto;
    }
    100%{
        left: 1000px;
    }
    
}
