@import './colors';

.rules-container{
    animation-name: slideDown;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 75vh;
    max-height: 450px;
    top: 0;
    background-color: $primary-blue;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;

}

.rules-container-exit{
    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 75vh;
    top: 0;
    background-color: #92B4F4;
    text-align: center;
    margin: 0 auto;
    color: #474350;
    left: 0;
    right: 0;
    margin: auto
}

.rules-title{
    height: 20vh;
    width: 100%;
    text-align: center;

    h2{
        font-size: 3rem;
    }    
    h2:last-child{
        color: $primary-yellow;
    }
}


.rules-content{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.rules-content-steps{
    height: 10vh;
    width: 100%;
    font-size: 2.25rem;
    font-weight: 900;
    background-color: $primary-yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-content-list{
    width: 85%;
    height: 60%;
    text-align: left;
    font-size: 1.5rem;

}


.rules-final{
    font-style: italic;
    font-weight: 800;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

