@import './colors';

.rules-container{
    animation-name: slideDown;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: 10;
    width: 95%;
    height: 90vh;
    max-height: 450px;
    top: 0;
    background-color: $rules-background;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;

}

.rules-container-exit{
    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 90vh;
    max-height: 450px;
    top: 0;
    background-color: $rules-background;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;

}

.rules-title{
    overflow: hidden;

    height: 20vh;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        font-size: 2.5rem;
        color: #fff;

    }    
    h2:last-child{
        color: $primary-yellow;
    }
}


.rules-content{
    overflow: hidden;

    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #fff;

}

.rules-content-steps{
    overflow: hidden;

    height: 10vh;
    width: 100%;
    font-size: 2.25rem;
    font-weight: 900;
    background-color: $primary-yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rules-content-list{
    overflow: hidden;

    width: 85%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    list-style: none;
    li{
        color: #fff;
        span{
            font-size: 1.6rem;
            font-weight: 600;
            color: $primary-yellow;
        }
    }

}


.rules-final{
    overflow: hidden;
    font-size: 0.95rem;
    font-style: italic;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}


@media screen and (min-width: 360px){
    .rules-container{
        height: 90vh;
        max-height: 510px;
    }
    
    .rules-container-exit{
        height: 90vh;
        max-height: 510px;
    }
    
}



@media screen and (min-width: 375px){
    .rules-container{
        max-height: 510px;
    }
    
    .rules-container-exit{
        max-height: 510px;
    }
    
    .rules-title{
        max-height: 165px;
        h2{
            font-size: 2rem;
        }    
    }
    
    
    .rules-content{
        max-height: 375px;
    }
    
    .rules-content-steps{

        font-size: 2.5rem;
        max-height: 70px;
    }
    
    .rules-content-list{
        width: 90%;
        height: 60%;
        font-size: 1.75rem;
        li{
            span{
                font-size: 1.76rem;
            }
        }
    
    }
    
    .rules-final{
        font-size: 1rem;
    }
}
@media screen and (min-width: 480px){
    .rules-container{
        width: 90%;
        max-height: 575px;
        max-width: 425px;
    }
    
    .rules-container-exit{
        width: 90%;
        max-height: 575px;
        max-width: 425px;
    }
    
    .rules-title{
        height: 25vh;
        max-height: 165px;
        h2{
            font-size: 3.5rem;
        }    
    }
    
    
    .rules-content{
        max-height: 450px;
    }
    
    .rules-content-steps{
        font-size: 2.75rem;
        max-height: 75px;
    }
    
    .rules-content-list{
        width: 90%;
        height: 60%;
        font-size: 2rem;
        li{
            span{
                font-size: 2.1rem;
            }
        }
    
    }
    
    .rules-final{
        font-size: 1.1rem;
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .rules-container{
        max-height: 625px;
        max-width: 500px;
    }
    
    .rules-container-exit{
        max-height: 625px;
        max-width: 500px;
    }
    
    .rules-title{
        h2{
            font-size: 3.7rem;
        }    
    }
    
    
    .rules-content{
        min-height: 440px;
        max-height: 475px;
    }
    
    .rules-content-steps{
        font-size: 3rem;
        max-height: 80px;
    }
    
    .rules-content-list{
        width: 90%;
        height: 65%;
        font-size: 2.25rem;
        li{
            span{
                font-size: 2.26rem;
            }
        }
    
    }
    
    .rules-final{
        font-size: 1.3rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .rules-container{
        max-height: 700px;
        max-width: 550px;
    }
    
    .rules-container-exit{
        max-height: 700px;
        max-width: 550px;
    }
    
    .rules-title{
        max-height: 200px;
        h2{
            font-size: 4.5rem;
        }    
    }
    
    
    .rules-content{
        min-height: 440px;
        max-height: 475px;
    }
    
    .rules-content-steps{
        font-size: 3.25rem;
        max-height: 90px;
    }
    
    .rules-content-list{
        width: 90%;
        height: 65%;
        font-size: 2.5rem;
        li{
            span{
                font-size: 2.51rem;
            }
        }
    
    }
    
    .rules-final{
        font-size: 1.5rem;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .rules-container{
        max-height: 715px;
        max-width: 575px;
    }
    
    .rules-container-exit{
        max-height: 715px;
        max-width: 575px;
    }
    
    .rules-title{
        h2{
            font-size: 4.75rem;
        }    
    }
    
    .rules-content{
        min-height: 450px;
        max-height: 500px;
    }
    
    .rules-content-list{
        font-size: 2.75rem;
        li{
            span{
                font-size: 2.76rem;
            }
        }
    
    }
    
    .rules-final{
        font-size: 1.6rem;
    }
 }

 @media (min-width: 2000px) { 
    .rules-container{
        min-height: 550px;
        max-height: 725px;
        max-width: 575px;
    }
    
    .rules-container-exit{
        min-height: 550px;
        max-height: 725px;
        max-width: 575px;
    }
    
    .rules-title{
        h2{
            font-size: 4.8rem;
        }    
    }
    
    
    .rules-content{
        min-height: 475px;
        max-height: 525px;
    }
    
    .rules-content-steps{
        font-size: 3.5rem;
        max-height: 100px;
    }
 }




 // Mobile Devices
 @media(max-width: 813px) and (max-height: 415px){
    .rules-container{
        max-height: 290px;
        min-height: 275px;
        max-width: 375px;
    }
    
    .rules-container-exit{
        max-height: 275px;
        min-height: 275px;
        max-width: 375px;

    }
    
    .rules-title{
        height: 25vh;
        width: 95%;
        max-height: 145px;
        h2{
            font-size: 2.4rem;
        }    
    }
    
    
    .rules-content{
        width: 100%;
        height: 70%;
        min-height: 150px;
        max-height: 185px;
    }
    
    .rules-content-steps{
        height: 10vh;
        width: 100%;
        font-size: 2rem;
        max-height: 75px;
    }
    
    .rules-content-list{
        width: 80%;
        height: 60%;
        font-size: 1.15rem;
        li{
            span{
                font-size: 1.16rem;
            }
        }
    
    }
    
    .rules-final{
        font-size: 0.90rem;
    }

 }

